<!DOCTYPE html>
<html>
<head>
    <title>dir</title>
    <!-- index.view -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimal-ui" />
</head>
<body>
<ul>
<% for (var i=0;i<data.length;i++ ){ %>
<li>
    <a title="<%= data[i].name%>" href="#">
        <%= data[i].name%>
    </a>
</li>
<%}%>
</ul>
</body>
</html>
